@import "./bootstrap.scss";

.movieList-item-container {
  padding: 2rem 0;
  animation: fadeIn 0.5s;
  &:not(:last-of-type) {
    padding-right: 2rem;
  }
}

.movie-details {
  padding: 1rem;
}

.movieList-item {
  background-color: $custom-primary-opacity;

  border-radius: $custom-borderRadius;
  box-shadow: $custom-boxShadow;
}

#movies {
  justify-content: flex-start;
}

.movie-header {
  font-family: $font-family-header;
  font-size: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
